   .video-container {
    /* border: 2px solid red; */
    padding-left: 2rem;
  }
  
  .content {
    /* color: aliceblue   ; */
    display: flex;
    justify-content: space-between;
  }
  
  .video-container .content-left {
    flex-basis: 67%;
    /* border: 2px solid green; */
  }
  
  .video-container .content-left .video {
    width: 100%;
  }
  
  .video-container .content-right {
    flex-basis: 31%;
    /* border: 2px solid green; */
    padding-right: 1rem;
  }
  
  .video-list {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: white;
  }
  
  .video-list img {
    width: 200px;
    border-radius: 10px;
  }
  
  .below-video-container {
    /* border: 2px solid green; */
    color: white;
  }
  
  .below-video-container h1 {
    font-size: 1.7rem;
  }
  
  .other-deatils {
    /* border: 2px solid red; */
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    margin-top: 2rem;
  }
  
  .other-deatils-left {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    /* border: 2px solid green; */
  }
  
  .channelNameAndIcon,
  .joinAndSubsButtonContainer,
  .other-deatils-right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .other-deatils-right {
    /* border: 2px solid red; */
    justify-content: space-evenly;
    width: 20%;
  }
  
  .other-deatils-right img {
    width: 20px;
  }
  
  .channelIcon {
    width: 40px;
    border-radius: 50%;
    margin-right: 1rem;
  }
  
  .subsCount {
    font-size: 0.7rem;
  }
  
  .joinAndSubsButtonContainer button {
    /* border: 1px solid red; */
    border-radius: 50px;
    border: none;
    outline: none;
    cursor: pointer;
  }
  
  .joinButton {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #2e2e2e;
    color: white;
  }
  .subsButton {
    padding: 0.5rem 1rem;
    font-weight: 600;
  }
  
  .descriptionContainer {
    background-color: #2e2e2e;
    border-radius: 20px;
    padding: 1rem;
    margin-top: 2rem;
  }
  
  .descriptionContainer p {
    font-size: 0.9rem;
  }
  
  .commentContainer {
    margin-top: 2rem;
  }
  
  .commentContainer h1 {
    font-size: 1.5rem;
  }
  .writeCommentContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
  }
  
  .writeCommentContainer input {
    padding: 1rem;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 0.5px solid grey;
    color: white;
    width: 100%;
  }
  
  .previousComments {
    margin-top: 1rem;
  }
  
  .nameAndComment .channelName {
    font-size: 0.7rem;
    margin-bottom: 0.2rem;
  }
  

@media only screen and (max-width: 500px) {
    .video-container{
    padding-left: .5rem;
  }
  .content{
    flex-direction: column;
  }
}